[project]
	description = TFG2015 ABI GHC2015 Hackathon
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Vinaya Mandke (vin18)
[access "refs/for/refs/*"]
	read = group user/Vinaya Mandke (vin18)
	push = group user/Vinaya Mandke (vin18)
	label-Code-Review = -2..+2 group user/Vinaya Mandke (vin18)
	label-Verified = -1..+1 group user/Vinaya Mandke (vin18)
	rebase = group user/Vinaya Mandke (vin18)
	removeReviewer = group user/Vinaya Mandke (vin18)
	submit = group user/Vinaya Mandke (vin18)
[access "refs/heads/*"]
	read = group user/Vinaya Mandke (vin18)
	create = group user/Vinaya Mandke (vin18)
	push = +force group user/Vinaya Mandke (vin18)
	pushMerge = group user/Vinaya Mandke (vin18)
[access "refs/tags/*"]
	push = +force group user/Vinaya Mandke (vin18)
	pushTag = group user/Vinaya Mandke (vin18)
	pushSignedTag = group user/Vinaya Mandke (vin18)
