[project]
	description = TFG2015 ABI GHC2015 Hackathon
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group SmartBin TFG2015
	owner = group user/Vinaya Mandke (vin18)
[access "refs/for/refs/*"]
	read = group SmartBin TFG2015
	read = group user/Vinaya Mandke (vin18)
	push = group SmartBin TFG2015
	push = group user/Vinaya Mandke (vin18)
	label-Code-Review = -2..+2 group SmartBin TFG2015
	label-Code-Review = -2..+2 group user/Vinaya Mandke (vin18)
	label-Verified = -1..+1 group SmartBin TFG2015
	label-Verified = -1..+1 group user/Vinaya Mandke (vin18)
	rebase = group SmartBin TFG2015
	rebase = group user/Vinaya Mandke (vin18)
	removeReviewer = group SmartBin TFG2015
	removeReviewer = group user/Vinaya Mandke (vin18)
	submit = group SmartBin TFG2015
	submit = group user/Vinaya Mandke (vin18)
[access "refs/heads/*"]
	read = group SmartBin TFG2015
	read = group user/Vinaya Mandke (vin18)
	create = group SmartBin TFG2015
	create = group user/Vinaya Mandke (vin18)
	push = group SmartBin TFG2015
	push = +force group user/Vinaya Mandke (vin18)
	pushMerge = group SmartBin TFG2015
	pushMerge = group user/Vinaya Mandke (vin18)
[access "refs/tags/*"]
	push = group SmartBin TFG2015
	push = +force group user/Vinaya Mandke (vin18)
	pushTag = group SmartBin TFG2015
	pushTag = group user/Vinaya Mandke (vin18)
	pushSignedTag = group SmartBin TFG2015
	pushSignedTag = group user/Vinaya Mandke (vin18)
